/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v6-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: 'Space Mono', sans-serif; }

.header .container, .navbar__ul, .footer__imgs, .footer__bottom .container {
  display: flex;
  align-items: center; }

.h4--card-about, .cards .container, .box-about, .footer__top .container, .careers__list, .location-text .container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 18px; }
  @media only screen and (max-width: 56.25em) {
    .container {
      max-width: 740px; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 360px; } }

.p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem; }
  .p--section1 {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .p--section1 {
        margin-bottom: 3.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .p--section1 {
        margin-bottom: 3.4rem; } }
  .p--card-text {
    color: #939CAA;
    display: block; }
  .p--box {
    margin-top: 2.4rem;
    margin-bottom: 4rem;
    color: #939CAA; }
    @media only screen and (max-width: 37.5em) {
      .p--box {
        margin-top: 3.2rem;
        margin-bottom: 3.2rem; } }
  .p--box-about {
    display: inline-block;
    color: #939CAA; }
  .p--card-about {
    color: #939CAA;
    margin-top: 2.4rem;
    display: none; }
  .p--careers {
    color: #495567; }
  .p--location {
    width: 44.5rem;
    color: #939CAA; }
    @media only screen and (max-width: 56.25em) {
      .p--location {
        width: 57.3rem;
        margin: 4rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .p--location {
        width: 100%;
        margin: 3.2rem 0; } }

.h1 {
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 5.6rem;
  letter-spacing: -2.5px;
  width: 50rem;
  margin-top: 0;
  margin-bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .h1 {
      width: 100%;
      font-size: 4rem;
      line-height: 4rem; } }
  .h1--home {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .h1--home {
        width: 57.3rem;
        margin-bottom: 2.4rem;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 37.5em) {
      .h1--home {
        width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .h1--about {
      width: 29rem;
      margin-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .h1--about {
      text-align: center;
      margin-left: auto;
      margin-right: auto; } }

.h2 {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: -2.14286px;
  color: #495567; }
  @media only screen and (max-width: 37.5em) {
    .h2 {
      font-size: 3.2rem;
      line-height: 3.2rem; } }
  .h2--footer {
    width: 41.5rem;
    color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .h2--footer {
        width: 45.7rem;
        margin-bottom: 4rem;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .h2--footer {
        width: 100%; } }
  .h2--about-section4 {
    text-align: center; }
  .h2--location {
    width: 35.1rem; }
    @media only screen and (max-width: 56.25em) {
      .h2--location {
        width: 45.7rem; } }
    @media only screen and (max-width: 37.5em) {
      .h2--location {
        width: 100%; } }

.h3 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1.78571px;
  color: #495567;
  width: 35rem; }
  @media only screen and (max-width: 56.25em) {
    .h3 {
      margin-bottom: 3.2rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .h3 {
      font-size: 2.4rem;
      line-height: 2.8rem; } }

.h4 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -1.07143px;
  color: #495567; }
  @media only screen and (max-width: 37.5em) {
    .h4 {
      font-size: 1.8rem;
      line-height: 2.4rem; } }
  .h4--card-title {
    margin-bottom: 2.7rem;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .h4--card-title {
        margin-bottom: 2.4rem; } }
  .h4--box-about {
    display: block;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 56.25em) {
      .h4--box-about {
        margin-bottom: 2.7rem; } }
  .h4--card-about {
    width: 100%; }
    .h4--card-about::after {
      content: "";
      display: inline-block;
      width: 1.6rem;
      height: 0.8rem;
      background-image: url("../images/arrow.png");
      background-size: 1.6rem 0.8rem;
      background-repeat: no-repeat; }
      @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
        .h4--card-about::after {
          background-image: url(../images/arrow@2x.png); } }
      @media only screen and (max-width: 37.5em) {
        .h4--card-about::after {
          width: 3.5rem;
          height: 1.2rem; } }
  .h4--careers {
    margin-bottom: 0.8rem; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 1.4rem 3.9rem;
  background-color: #FCB72B;
  color: inherit;
  border: 3px solid transparent;
  transition: all .2s ease-in-out; }
  .btn:hover {
    border: 3px solid #FCB72B;
    background-color: transparent;
    color: #FCB72B; }
  .btn--modal {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1.4rem 3.9rem;
    background-color: #FCB72B;
    color: inherit;
    border: 3px solid transparent;
    transition: all .2s ease-in-out; }
    .btn--modal:hover {
      border: 3px solid #FCB72B;
      background-color: transparent;
      color: #FCB72B; }
  @media only screen and (max-width: 37.5em) {
    .btn--header {
      display: none; } }
  .btn--careers {
    padding: 1.4rem 6.6rem; }
    @media only screen and (max-width: 37.5em) {
      .btn--careers {
        width: 100%;
        margin-top: 1.6rem; } }
  .btn--location {
    position: relative;
    color: #495567; }
    @media only screen and (max-width: 37.5em) {
      .btn--location:not(:last-child) {
        margin-bottom: 1.6rem; } }
    .btn--location::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 1.6rem solid #FCB72B;
      border-left: 1.6rem solid transparent;
      border-right: 1.6rem solid transparent;
      position: absolute;
      top: 100%;
      left: calc(50% - 1.6rem); }
      @media only screen and (max-width: 37.5em) {
        .btn--location::before {
          display: none; } }
    .btn--location-new-york {
      position: absolute;
      top: 9rem;
      left: 17rem; }
      @media only screen and (max-width: 56.25em) {
        .btn--location-new-york {
          left: 8.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .btn--location-new-york {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          text-align: center;
          background: rgba(252, 183, 43, 0.15);
          font-size: 2.4rem;
          line-height: 2.8rem; } }
    .btn--location-london {
      position: absolute;
      top: 3.4rem;
      left: 43.4rem; }
      @media only screen and (max-width: 56.25em) {
        .btn--location-london {
          left: 25.4rem; } }
      @media only screen and (max-width: 37.5em) {
        .btn--location-london {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          text-align: center;
          background: rgba(252, 183, 43, 0.15);
          font-size: 2.4rem;
          line-height: 2.8rem; } }
    .btn--location-jakarta {
      position: absolute;
      bottom: 22rem;
      right: 18rem; }
      @media only screen and (max-width: 56.25em) {
        .btn--location-jakarta {
          right: 8.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .btn--location-jakarta {
          position: relative;
          bottom: 0;
          right: 0;
          width: 100%;
          text-align: center;
          background: rgba(252, 183, 43, 0.15);
          font-size: 2.4rem;
          line-height: 2.8rem; } }
    .btn--location-yokohama {
      position: absolute;
      top: 10rem;
      right: 10.7rem; }
      @media only screen and (max-width: 56.25em) {
        .btn--location-yokohama {
          right: 3.7rem; } }
      @media only screen and (max-width: 37.5em) {
        .btn--location-yokohama {
          position: relative;
          top: 0;
          right: 0;
          width: 100%;
          text-align: center;
          background: rgba(252, 183, 43, 0.15);
          font-size: 2.4rem;
          line-height: 2.8rem; } }

.cards {
  margin-top: 16rem;
  margin-bottom: 20rem; }
  @media only screen and (max-width: 56.25em) {
    .cards {
      margin-top: 12.2rem;
      margin-bottom: 14.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .cards {
      margin-top: 12rem;
      margin-bottom: 12rem; } }
  @media only screen and (max-width: 56.25em) {
    .cards .container {
      flex-direction: column; } }

.card {
  display: inline-block;
  text-decoration: none;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .card:not(:last-child) {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      text-align: center; } }
  .card-body {
    width: 35rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .card-body {
        width: 39.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .card-body {
        width: 100%; } }
  .card::before {
    content: "";
    display: inline-block;
    width: 9.6rem;
    height: 9.6rem;
    background-image: url("../images/phone.png");
    background-size: 3.8rem 4.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FCB72B;
    border-radius: 50%;
    margin-bottom: 4rem;
    position: relative;
    z-index: 2; }
    @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
      .card::before {
        background-image: url(../images/phone@2x.png); } }
    @media only screen and (max-width: 56.25em) {
      .card::before {
        margin-right: 7.9rem;
        margin-bottom: 2.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .card::before {
        margin-right: 0;
        margin-bottom: 2.4rem; } }
  .card::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1.5rem;
    background-color: #E5ECF4;
    position: absolute;
    top: 4rem;
    right: 98%;
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .card::after {
        top: -89%;
        width: 1.5rem;
        height: 100%;
        right: calc(100% - 56px); } }
    @media only screen and (max-width: 37.5em) {
      .card::after {
        display: none; } }
  .card:nth-child(2)::before {
    background-image: url(../images/scooter.png);
    background-size: 4.2rem 3.2rem; }
    @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
      .card:nth-child(2)::before {
        background-image: url(../images/scooter@2x.png); } }
  .card:nth-child(3)::before {
    background-image: url(../images/scooter-ride.png);
    background-size: 4rem 4rem; }
    @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
      .card:nth-child(3)::before {
        background-image: url(../images/scooter-ride@2x.png); } }
  .card-about {
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .card-about {
        width: 100%; } }
    .card-about__list {
      background-color: #F2F5F9;
      width: 73rem;
      transition: all 0.2s ease-in-out; }
      @media only screen and (max-width: 56.25em) {
        .card-about__list {
          width: 100%; } }
      .card-about__list:hover {
        background-color: #FFF4DF; }
      .card-about__list:not(:last-child) {
        margin-bottom: 1.6rem; }
        @media only screen and (max-width: 56.25em) {
          .card-about__list:not(:last-child) {
            margin-bottom: 2.4rem; } }
  .card__label {
    padding: 3.2rem 4rem;
    cursor: pointer;
    display: inline-block;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .card__label {
        padding: 32px; } }
  .card__input {
    display: none; }
    .card__input:checked + .card__label .p--card-about {
      display: block; }
    .card__input:checked + .card__label .h4--card-about::after {
      transform: rotate(180deg); }

.box {
  margin-bottom: 14rem; }
  @media only screen and (max-width: 37.5em) {
    .box {
      margin-bottom: 12rem; } }
  .box__list {
    padding: 6.6rem 0;
    background-image: url(../images/arrow-left.png), url(../images/jek.png), url(../images/circle-spare.png);
    background-size: 74rem 14rem, 44.5rem 44.5rem, 44.5rem 44.5rem;
    background-position: right bottom, calc(100% - 16.5rem) center, calc(100% + calc(44.5rem - 10.1rem)) center;
    background-repeat: no-repeat; }
    @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
      .box__list {
        background-image: url(../images/arrow-left@2x.png), url(../images/jek@2x.png), url(../images/circle-spare@2x.png); } }
    @media only screen and (max-width: 56.25em) {
      .box__list {
        padding: 50.1rem 0 0 0;
        background-position: right calc(0% + 30rem), calc(100% - 16.5rem) top, calc(100% + calc(44.5rem - 10.1rem)) top; } }
    @media only screen and (max-width: 37.5em) {
      .box__list {
        background-image: url(../images/arrow-left.png), url(../images/jek.png);
        background-position: calc(100% + 27rem) calc(0% + 17rem), top center;
        background-size: 74rem 14rem, 31.1rem 31.1rem;
        padding: 36.7rem 0 0 0; } }
    .box__list:not(:last-child) {
      margin-bottom: 16rem; }
      @media only screen and (max-width: 37.5em) {
        .box__list:not(:last-child) {
          margin-bottom: 12rem; } }
    .box__list:nth-child(2) {
      background-image: url(../images/arrow-right.png), url(../images/shahar.png), url(../images/circle-spare.png);
      background-size: 44.6rem 14rem, 44.5rem 44.5rem, 44.5rem 44.5rem;
      background-position: calc(0% - 9rem) top, calc(0% + 16.5rem) center, calc(0% - calc(44.5rem - 10.1rem)) center;
      background-repeat: no-repeat; }
      @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
        .box__list:nth-child(2) {
          background-image: url(../images/arrow-right@2x.png), url(../images/shahar@2x.png), url(../images/circle-spare@2x.png); } }
      @media only screen and (max-width: 56.25em) {
        .box__list:nth-child(2) {
          background-position: calc(0% - 9rem) top, calc(0% + 16.5rem) top, calc(0% - calc(44.5rem - 10.1rem)) top; } }
      @media only screen and (max-width: 37.5em) {
        .box__list:nth-child(2) {
          background-image: url(../images/arrow-right.png), url(../images/shahar.png);
          background-position: calc(100% - 23rem) top, top center;
          background-size: 48rem 19.8rem, 31.1rem 31.1rem;
          padding: 36.7rem 0 0 0; } }
    .box__list:nth-child(3) {
      background-image: url(../images/arrow-left.png), url(../images/jek-many.png), url(../images/circle-spare.png);
      background-size: 74rem 14rem, 44.5rem 44.5rem, 44.5rem 44.5rem;
      background-position: calc(100% + 38rem) calc(0% + 9rem), calc(100% - 16.5rem) center, calc(100% + calc(44.5rem - 10.1rem)) center;
      background-repeat: no-repeat; }
      @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
        .box__list:nth-child(3) {
          background-image: url(../images/arrow-left@2x.png), url(../images/jek-many@2x.png), url(../images/circle-spare@2x.png); } }
      @media only screen and (max-width: 56.25em) {
        .box__list:nth-child(3) {
          background-position: calc(100% + 38rem) calc(0% + 9rem), calc(100% - 16.5rem) top, calc(100% + calc(44.5rem - 10.1rem)) top; } }
      @media only screen and (max-width: 37.5em) {
        .box__list:nth-child(3) {
          background-image: url(../images/arrow-left.png), url(../images/jek-many.png);
          background-position: calc(100% + 29rem) top, top center;
          background-size: 64rem 16.8rem, 31.1rem 31.1rem;
          padding: 36.7rem 0 0 0; } }
    .box__list-about-1 {
      padding: 12.5rem 0;
      background-image: url(../images/arrow-left-2.png), url(../images/malika.png), url(../images/circle-spare.png); }
      @media only screen and (max-width: 56.25em) {
        .box__list-about-1 {
          padding: 51.1rem 0 0 0; } }
      @media only screen and (max-width: 37.5em) {
        .box__list-about-1 {
          padding: 36.7rem 0 0 0;
          background-image: url(../images/arrow-left-2.png), url(../images/malika.png); } }
    .box__list-about-2 {
      padding: 12.5rem 0;
      background-image: url(../images/arrow-right.png), url(../images/bus.png), url(../images/circle-spare.png) !important; }
      @media only screen and (max-width: 56.25em) {
        .box__list-about-2 {
          padding: 51.1rem 0 0 0; } }
      @media only screen and (max-width: 37.5em) {
        .box__list-about-2 {
          padding: 36.7rem 0 0 0;
          background-image: url(../images/arrow-right.png), url(../images/bus.png) !important; } }
    .box__list-careers {
      background-image: url(../images/arrow-left.png), url(../images/jek-and-malika.png), url(../images/circle-spare.png); }
      @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
        .box__list-careers {
          background-image: url(../images/arrow-left@2x.png), url(../images/jek-and-malika@2x.png), url(../images/circle-spare@2x.png); } }
      @media only screen and (max-width: 37.5em) {
        .box__list-careers {
          background-image: url(../images/arrow-left.png), url(../images/jek-and-malika.png); } }
  .box__text {
    width: 44.5rem; }
    @media only screen and (max-width: 56.25em) {
      .box__text {
        width: 57.3rem;
        margin: 0 auto;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .box__text {
        width: 100%; } }
    .box__text-2 {
      margin-left: auto; }
    @media only screen and (max-width: 56.25em) {
      .box__text .h2 {
        width: 45.7rem;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 37.5em) {
      .box__text .h2 {
        width: 100%; } }
  .box-about {
    margin-top: 10.3rem;
    margin-bottom: 12rem; }
    @media only screen and (max-width: 56.25em) {
      .box-about {
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .box-about {
        margin-top: 6.4rem;
        margin-bottom: 14.5rem; } }
    .box-about__list {
      width: 35rem;
      list-style: none; }
      @media only screen and (max-width: 56.25em) {
        .box-about__list:not(:last-child) {
          margin-bottom: 50px; } }
    .box-about__link {
      text-decoration: none;
      display: inline-block;
      position: relative; }
      .box-about__link::before {
        content: "";
        display: inline-block;
        width: 24rem;
        height: 24rem;
        background-image: url("../images/phone-2.png");
        background-size: 24rem 24rem;
        background-repeat: no-repeat;
        margin-bottom: 8.7rem; }
        @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
          .box-about__link::before {
            background-image: url(../images/phone-2@2x.png); } }
        @media only screen and (max-width: 37.5em) {
          .box-about__link::before {
            margin-bottom: 6.4rem; } }
      .box-about__link::after {
        content: "01";
        width: 9.6rem;
        height: 9.6rem;
        border-radius: 50%;
        background-color: #FCB72B;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        text-align: center;
        letter-spacing: -1.07143px;
        color: #495567;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 19.9rem;
        right: calc(50% - 4.8rem); }
      .box-about__link-2::before {
        background-image: url(../images/scooter-2.png); }
        @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
          .box-about__link-2::before {
            background-image: url(../images/scooter-2@2x.png); } }
      .box-about__link-2::after {
        content: "02"; }
      .box-about__link-3::before {
        background-image: url(../images/peoples.png); }
        @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
          .box-about__link-3::before {
            background-image: url(../images/peoples@2x.png); } }
      .box-about__link-3::after {
        content: "03"; }

.header {
  padding: 2.1rem 0;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 77; }
  .header .container {
    position: relative; }
  .header__logo {
    margin: 0 auto; }

.logo {
  color: #495567;
  width: 17.8rem;
  height: 3.5rem; }
  .logo__footer {
    color: #fff; }

.navbar {
  margin-left: 5.8rem;
  margin-right: auto; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      margin-left: auto;
      margin-right: auto;
      margin-top: 4.1rem;
      margin-bottom: 8.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navbar--none {
      display: none; } }
  .navbar__ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; }
    @media only screen and (max-width: 37.5em) {
      .navbar__ul {
        flex-direction: column; } }
  .navbar__list:not(:first-child) {
    margin-left: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .navbar__list:not(:first-child) {
        margin-left: 0;
        margin-top: 1.6rem; } }
  .navbar__link {
    text-decoration: none;
    color: #939CAA;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    transition: all .2s ease-in-out; }
    .navbar__link:hover {
      color: #FCB72B; }

.footer__top {
  padding: 10.2rem 0;
  background-color: #495567;
  background-image: url(../images/bg-footer.png);
  background-repeat: no-repeat;
  background-size: calc(115.3rem - 16.3rem) 15rem;
  background-position: right bottom; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
    .footer__top {
      background-image: url(../images/bg-footer@2x.png); } }
  @media only screen and (max-width: 56.25em) {
    .footer__top {
      padding: 6.2rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .footer__top {
      padding: 8.8rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .footer__top .container {
      flex-direction: column; } }

.footer__img {
  display: inline-block; }
  .footer__img:not(:last-child) {
    margin-right: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__img:not(:last-child) {
        margin-right: 1.3rem; } }
  .footer__img-app {
    display: inline-block;
    width: 15.9rem;
    height: 5.6rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__img-app {
        width: 11.4rem;
        height: 4rem; } }
  .footer__img-google {
    display: inline-block;
    width: 18.2rem;
    height: 5.6rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__img-google {
        width: 13rem;
        height: 4rem; } }

.footer__bottom {
  background-color: #333A44;
  padding: 3.5rem 0; }
  @media only screen and (max-width: 37.5em) {
    .footer__bottom {
      padding: 6.4rem 0 8.8rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .footer__bottom .container {
      flex-direction: column; } }
  .footer__bottom-img {
    display: inline-block;
    text-decoration: none; }
    .footer__bottom-img:not(:last-child) {
      margin-right: 2.4rem; }

.icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #FCB72B;
  transition: all .2s ease-in-out; }
  .icon:hover {
    color: #E5ECF4; }

.modal {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: 7.5rem;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22; }
  .modal__body {
    width: 70%;
    height: 100vh;
    padding: 6.4rem 0 2.4rem 5rem;
    background: #333A44; }
  .modal__navbar {
    margin-bottom: 25rem; }
  @media only screen and (max-width: 37.5em) {
    .modal__list {
      list-style: none; } }
  .modal__list:not(:last-child) {
    margin-bottom: 2.4rem; }
  .modal__link {
    text-decoration: none;
    display: inline-block;
    font-family: "Space Mono", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #E5ECF4; }

.label {
  display: none;
  position: absolute;
  left: 0;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .label {
      display: block; } }
  .label__span {
    display: inline-block;
    width: 2rem;
    height: .4rem;
    background-color: #FCB72B;
    position: relative; }
    .label__span::before, .label__span::after {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 0.4rem;
      position: absolute;
      background-color: #FCB72B; }
    .label__span::before {
      left: 0;
      top: -.7rem; }
    .label__span::after {
      left: 0;
      bottom: -.7rem; }

.input {
  display: none; }
  .input:checked + .label .label__span {
    visibility: hidden; }
  .input:checked + .label .label__span::before {
    visibility: visible;
    top: 0;
    transform: rotate(135deg);
    transition: all .2s; }
  .input:checked + .label .label__span::after {
    visibility: visible;
    bottom: 0;
    transform: rotate(-135deg);
    transition: all .2s; }
  .input:checked ~ .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s cubic-bezier(0.55, 0.86, 0.65, 1.95); }

body {
  color: #fff;
  background-color: #f2f2f2; }

.main {
  margin-top: 7.9rem; }

.section1 {
  background: url(../images/circle-2.png), url(../images/circle.png), url(../images/circle.png), linear-gradient(rgba(73, 85, 103, 0.7), rgba(73, 85, 103, 0.7)), url(../images/bg-scooter.png);
  background-repeat: no-repeat;
  background-size: 6.2rem 6.2rem, 6.2rem 6.2rem, 6.2rem 6.2rem, cover, cover;
  background-position: calc(100% + 4.8rem) calc(100% - 162px), calc(100% - 3.8rem) calc(100% - 162px), calc(100% - 12.4rem) calc(100% - 162px), center, right bottom;
  padding: 15.3rem 0 15.2rem 0; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
    .section1 {
      background-image: url(../images/circle-2@2x.png), url(../images/circle@2x.png), url(../images/circle@2x.png), linear-gradient(rgba(73, 85, 103, 0.7), rgba(73, 85, 103, 0.7)), url(../images/bg-scooter@2x.png); } }
  @media only screen and (max-width: 56.25em) {
    .section1 {
      padding: 13.7rem 0 21.7rem 0;
      text-align: center;
      background-position: calc(100% + 3.1rem) calc(100% - 4.5rem), calc(100% - 5.5rem) calc(100% - 4.5rem), calc(100% - 14.1rem) calc(100% - 4.5rem), center, calc(100% + 160px) bottom;
      z-index: 2;
      position: relative; } }
  @media only screen and (max-width: 37.5em) {
    .section1 {
      padding: 11.5rem 0 17.9rem 0;
      background: linear-gradient(rgba(73, 85, 103, 0.7), rgba(73, 85, 103, 0.7)), url(../images/bg-scooter.png);
      background-position: center, right bottom; } }
  @media only screen and (max-width: 37.5em) {
    .section1 .container {
      text-align: center; } }
  .section1__text {
    box-sizing: content-box;
    width: 40.5rem;
    padding: 0 4rem 0 5.7rem;
    margin-left: 4rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .section1__text {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 57.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .section1__text {
        width: 100%; } }
    .section1__text::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1.5rem;
      background-color: #FCB72B;
      position: absolute;
      right: 100%;
      top: 5.5rem; }
      @media only screen and (max-width: 56.25em) {
        .section1__text::before {
          display: none; } }
    .section1__text::after {
      content: "";
      display: inline-block;
      width: 45rem;
      height: 14rem;
      background-image: url("../images/arrow-right.png");
      background-size: 45rem 14rem;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      left: 100%; }
      @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
        .section1__text::after {
          background-image: url(../images/arrow-right@2x.png); } }
      @media only screen and (max-width: 56.25em) {
        .section1__text::after {
          bottom: -100%;
          left: calc(-100% + 250px); } }
      @media only screen and (max-width: 37.5em) {
        .section1__text::after {
          left: -100%;
          bottom: calc(-100% + 8rem); } }

.about-section1 {
  padding: 7.2rem 0;
  margin-bottom: 12rem;
  background: url(../images/circle-2.png), url(../images/circle.png), url(../images/circle.png), linear-gradient(rgba(73, 85, 103, 0.7), rgba(73, 85, 103, 0.7)), url(../images/bg-about.png);
  background-repeat: no-repeat;
  background-size: 6.2rem 6.2rem, 6.2rem 6.2rem, 6.2rem 6.2rem, cover, cover;
  background-position: calc(100% + 4.8rem) center, calc(100% - 3.8rem) center, calc(100% - 12.4rem) center, center, center; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
    .about-section1 {
      background-image: url(../images/circle-2@2x.png), url(../images/circle@2x.png), url(../images/circle@2x.png), linear-gradient(rgba(73, 85, 103, 0.7), rgba(73, 85, 103, 0.7)), url(../images/bg-about@2x.png); } }
  @media only screen and (max-width: 37.5em) {
    .about-section1 {
      padding: 6rem 0;
      background: linear-gradient(rgba(73, 85, 103, 0.7), rgba(73, 85, 103, 0.7)), url(../images/bg-about.png);
      background-size: cover;
      background-position: center;
      margin-bottom: 7.2rem; } }

.about-section3 {
  text-align: center; }

.about-section4 {
  margin-bottom: 16rem; }
  @media only screen and (max-width: 37.5em) {
    .about-section4 {
      margin-bottom: 12rem; } }
  .about-section4__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6.4rem; }
    @media only screen and (max-width: 56.25em) {
      .about-section4__text {
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .about-section4__text {
        margin-top: 4.8rem; } }

.careers {
  margin-bottom: 16rem; }
  @media only screen and (max-width: 37.5em) {
    .careers {
      margin-bottom: 12rem; } }
  .careers__ul {
    list-style: none; }
  .careers__list {
    background-color: #F2F5F9;
    padding: 3.5rem 6.4rem 3.5rem 4rem; }
    @media only screen and (max-width: 37.5em) {
      .careers__list {
        flex-direction: column;
        text-align: center;
        padding: 3.6rem 3.2rem 3.2rem 3.2rem; } }
    .careers__list:not(:last-child) {
      margin-bottom: 2.4rem; }

.location .container {
  position: relative; }

.location__img {
  width: 100%;
  height: 54.2rem; }
  @media only screen and (max-width: 37.5em) {
    .location__img {
      height: 15.2rem;
      margin-bottom: 4rem; } }

.location-text {
  margin: 12rem 0; }
  @media only screen and (max-width: 37.5em) {
    .location-text {
      margin: 7.2rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .location-text .container {
      flex-direction: column;
      text-align: center; } }
