.header {
  padding: 2.1rem 0;
  background-color: $color-white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .75);

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  z-index: 77;

  & .container {
    @extend %aligncenter;

    position: relative;
  }

  &__logo {
    margin: 0 auto;
  }
}

.logo {
  color: $color-dark-navy;
  width: 17.8rem;
  height: 3.5rem;

  &__footer {
    color: $color-white;
  }
}