.cards {
  margin-top: 16rem;
  margin-bottom: 20rem;

  @include respond(tablet) {
    margin-top: 12.2rem;
    margin-bottom: 14.5rem;
  }

  @include respond(phone) {
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  & .container {
    @extend %jsb;

    @include respond(tablet) {
      flex-direction: column;
    }
  }
}

.card {
  display: inline-block;
  text-decoration: none;

  position: relative;

  @include respond(tablet) {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  @include respond(phone) {
    text-align: center;
  }

  &-body {
    width: 35rem;
    display: inline-block;

    @include respond(tablet) {
      width: 39.8rem;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &::before {
    @include badimg(9.6rem, 9.6rem, '../images/phone.png', 3.8rem 4.8rem) {
      background-position: center;
      background-color: $color-yellow;
      border-radius: 50%;
      margin-bottom: 4rem;

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/phone@2x.png);
      }
    }

    position: relative;
    z-index: 2;

    @include respond(tablet) {
      margin-right: 7.9rem;
      margin-bottom: 2.5rem;
    }

    @include respond(tablet) {
      margin-right: 0;
      margin-bottom: 2.4rem;
    }
  }

  &::after {
    @include ba(100%, 1.5rem) {
      background-color: $color-light-grey;
    }

    position: absolute;
    top: 4rem;
    right: 98%;

    z-index: 1;

    @include respond(tablet) {
      top: -89%;
      width: 1.5rem;
      height: 100%;
      right: calc(100% - 56px);
    }

    @include respond(phone) {
      display: none;
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url(../images/scooter.png);
      background-size: 4.2rem 3.2rem;

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/scooter@2x.png);
      }
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url(../images/scooter-ride.png);
      background-size: 4rem 4rem;

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/scooter-ride@2x.png);
      }
    }
  }

  &-about {
    list-style: none;

    @include respond(tablet) {
      width: 100%;
    }

    &__list {
      background-color: $color-snow;
      width: 73rem;
      transition: all.2s ease-in-out;

      @include respond(tablet) {
        width: 100%;
      }

      &:hover {
        background-color: $color-light-yellow;
      }

      &:not(:last-child) {
        margin-bottom: 1.6rem;

        @include respond(tablet) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  &__label {
    padding: 3.2rem 4rem;
    cursor: pointer;
    display: inline-block;
    width: 100%;

    @include respond(phone) {
      padding: 32px;
    }
  }

  &__input {
    display: none;

    &:checked+.card__label .p--card-about {
      display: block;
    }

    &:checked+.card__label .h4--card-about::after {
      transform: rotate(180deg);
    }
  }
}