.cards {
  margin-top: 16rem;
  margin-bottom: 20rem;

  & .container {
    @extend %jsb;
  }
}

.card {
  display: inline-block;
  text-decoration: none;

  position: relative;

  &-body {
    width: 35rem;
    display: inline-block;
  }

  &::before {
    @include badimg(9.6rem, 9.6rem, '../images/phone.png', 3.8rem 4.8rem) {
      background-position: center;
      background-color: $color-yellow;
      border-radius: 50%;
      margin-bottom: 4rem;

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/phone@2x.png);
      }
    }

    position: relative;
    z-index: 2;
  }

  &::after {
    @include ba(100%, 1.5rem) {
      background-color: $color-light-grey;
    }

    position: absolute;
    top: 4rem;
    right: 98%;

    z-index: 1;
  }

  &:nth-child(2) {
    &::before {
      background-image: url(../images/scooter.png);
      background-size: 4.2rem 3.2rem;

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/scooter@2x.png);
      }
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url(../images/scooter-ride.png);
      background-size: 4rem 4rem;

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/scooter-ride@2x.png);
      }
    }
  }

  &-about {
    list-style: none;

    &__list {
      background-color: $color-snow;
      width: 73rem;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__label {
    padding: 3.2rem 4rem;
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }

  &__input {
    display: none;

    &:checked+.card__label .p--card-about {
      display: block;
    }

    &:checked+.card__label .h4--card-about::after {
      transform: rotate(180deg);
    }
  }
}