.p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;

  &--section1 {
    margin-bottom: 4rem;

    @include respond(tablet) {
      margin-bottom: 3.2rem;
    }

    @include respond(phone) {
      margin-bottom: 3.4rem;
    }
  }

  &--card-text {
    color: $color-dim-grey;
    display: block;
  }

  &--box {
    margin-top: 2.4rem;
    margin-bottom: 4rem;
    color: $color-dim-grey;

    @include respond(phone) {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
    }
  }

  &--box-about {
    display: inline-block;
    color: $color-dim-grey;
  }

  &--card-about {
    color: $color-dim-grey;
    margin-top: 2.4rem;
    display: none;
  }

  &--careers {
    color: $color-dark-navy;
  }

  &--location {
    width: 44.5rem;
    color: $color-dim-grey;

    @include respond(tablet) {
      width: 57.3rem;
      margin: 4rem 0;
    }

    @include respond(phone) {
      width: 100%;
      margin: 3.2rem 0;
    }
  }
}

.h1 {
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 5.6rem;
  letter-spacing: -2.5px;
  width: 50rem;
  margin-top: 0;
  margin-bottom: 0;

  @include respond(phone) {
    width: 100%;
    font-size: 4rem;
    line-height: 4rem;
  }

  &--home {
    margin-bottom: 4rem;

    @include respond(tablet) {
      width: 57.3rem;
      margin-bottom: 2.4rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &--about {
    @include respond(tablet) {
      width: 29rem;
      margin-left: 7rem;
    }

    @include respond(phone) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.h2 {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: -2.14286px;
  color: $color-dark-navy;

  @include respond(phone) {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  &--footer {
    width: 41.5rem;
    color: $color-white;

    @include respond(tablet) {
      width: 45.7rem;
      margin-bottom: 4rem;
      text-align: center;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &--about-section4 {
    text-align: center;
  }

  &--location {
    width: 35.1rem;

    @include respond(tablet) {
      width: 45.7rem;
    }

    @include respond(phone) {
      width: 100%;
    }
  }
}

.h3 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1.78571px;
  color: $color-dark-navy;
  width: 35rem;

  @include respond(tablet) {
    margin-bottom: 3.2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @include respond(phone) {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

.h4 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -1.07143px;
  color: $color-dark-navy;

  @include respond(phone) {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &--card-title {
    margin-bottom: 2.7rem;
    display: block;

    @include respond(phone) {
      margin-bottom: 2.4rem;
    }
  }

  &--box-about {
    display: block;
    margin-bottom: 2.4rem;

    @include respond(tablet) {
      margin-bottom: 2.7rem;
    }
  }

  &--card-about {
    @extend %jsb;
    width: 100%;

    &::after {
      @include badimg(1.6rem, .8rem, "../images/arrow.png", 1.6rem .8rem) {

        @media only screen and(min-resolution:192dpi)and(min-width:376px),
        (min-width:2000px) {
          background-image: url(../images/arrow@2x.png);
        }
      }

      @include respond(phone) {
        width: 3.5rem;
        height: 1.2rem;
      }
    }
  }

  &--careers {
    margin-bottom: 0.8rem;
  }
}