.careers {
  margin-bottom: 16rem;

  @include respond(phone) {
    margin-bottom: 12rem;
  }

  &__ul {
    list-style: none;
  }

  &__list {
    background-color: $color-snow;
    padding: 3.5rem 6.4rem 3.5rem 4rem;
    @extend %jsb;

    @include respond(phone) {
      flex-direction: column;
      text-align: center;
      padding: 3.6rem 3.2rem 3.2rem 3.2rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }
}