body {
  color: $color-white;
  background-color: $color-bg;
}

.main {
  margin-top: 7.9rem;
}

// MAIN 

// SECTION 1

.section1 {
  background: url(../images/circle-2.png), url(../images/circle.png), url(../images/circle.png), linear-gradient(rgba(73, 85, 103, .7), rgba(73, 85, 103, .7)), url(../images/bg-scooter.png);
  background-repeat: no-repeat;
  background-size: 6.2rem 6.2rem, 6.2rem 6.2rem, 6.2rem 6.2rem, cover, cover;
  // background-position: calc(50% + 690px) calc(100% - 162px), calc(50% + calc(690px - calc(62px + 24px))) calc(100% - 162px),
  //   calc(50% + calc(690px - calc(calc(62px + 24px) * 2))) calc(100% - 162px),
  //   center,
  //   right bottom;
  background-position: calc(100% + 4.8rem) calc(100% - 162px),
    calc(100% - 3.8rem) calc(100% - 162px),
    calc(100% - 12.4rem) calc(100% - 162px),
    center,
    right bottom;
  padding: 15.3rem 0 15.2rem 0;

  @media only screen and(min-resolution:192dpi)and(min-width:376px),
  (min-width:2000px) {
    background-image: url(../images/circle-2@2x.png), url(../images/circle@2x.png), url(../images/circle@2x.png), linear-gradient(rgba(73, 85, 103, .7), rgba(73, 85, 103, .7)), url(../images/bg-scooter@2x.png);
  }

  @include respond(tablet) {
    padding: 13.7rem 0 21.7rem 0;
    text-align: center;
    background-position: calc(100% + 3.1rem) calc(100% - 4.5rem),
      calc(100% - 5.5rem) calc(100% - 4.5rem),
      calc(100% - 14.1rem) calc(100% - 4.5rem),
      center,
      calc(100% + 160px) bottom;

    z-index: 2;
    position: relative;
  }

  @include respond(phone) {
    padding: 11.5rem 0 17.9rem 0;
    background: linear-gradient(rgba(73, 85, 103, .7), rgba(73, 85, 103, .7)), url(../images/bg-scooter.png);
    background-position: center, right bottom;
  }

  & .container {
    @include respond(phone) {
      text-align: center;
    }
  }

  &__text {
    box-sizing: content-box;
    width: 40.5rem;
    padding: 0 4rem 0 5.7rem;
    margin-left: 4rem;

    position: relative;

    @include respond(tablet) {
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      width: 57.3rem;
    }

    @include respond(phone) {
      width: 100%;
    }

    &::before {
      @include ba(100%, 1.5rem) {
        background-color: $color-yellow;

        position: absolute;
        right: 100%;
        top: 5.5rem;
      }

      @include respond(tablet) {
        display: none;
      }
    }

    &::after {
      @include badimg(45rem, 14rem, '../images/arrow-right.png', 45rem 14rem) {
        position: absolute;
        bottom: 0;
        left: 100%;

        @media only screen and(min-resolution:192dpi)and(min-width:376px),
        (min-width:2000px) {
          background-image: url(../images/arrow-right@2x.png);
        }
      }

      @include respond(tablet) {
        bottom: -100%;
        left: calc(-100% + 250px);
      }

      @include respond(phone) {
        left: -100%;
        bottom: calc(-100% + 8rem);
      }
    }

  }
}